%uppercase {
  text-transform: uppercase;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.headline {
  background-image: url('../images/HeadlineImage_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 55vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .taglines {
    margin-top: 80px;
    width: 100%;


    .sidetagline, .maintagline {
      @extend %uppercase;
      font-weight: 700;
      color: #fdfafa;
      padding: 10px;
      margin-top: 10px;
    }
  
    .sidetagline {
      font-size: 1.4em;
    }
  
    .maintagline {
      font-size: 2.5em;
      color: #A41F25;
      background: #fdfafa;
      opacity: 0.8;
    }
  }
}

