// This is the styling for the mobile version. Designed site with mobile first priority.

%uppercase {
  text-transform: uppercase;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  padding: 0;
}

.headline {
  background-image: url('../images/HeadlineImage_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 55vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .taglines {
    margin-top: 10%;
    width: 100%;


    .sidetagline, .maintagline {
      @extend %uppercase;
      font-weight: 700;
      color: #fdfafa;
      padding: 10px;
      margin-top: 10px;
    }
  
    .sidetagline {
      font-size: 1.4em;
    }
  
    .maintagline {
      font-size: 2.5em;
      color: #A41F25;
      background: #fdfafa;
      opacity: 0.8;
    }
  }
}

.banner {
  background-image:
    linear-gradient(
      to right,
      rgba(196, 154, 108, 0),
      #c39b7c,
      rgba(196, 154, 108, 0),
    );

  .bannerimg {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    img {
      height: 150px;
      width: 150px;
    }
    h2 {
      font-weight: 700;
    }
  }

}

.maininfo {
  padding: 40px;
  font-size: 1.3em;

  ul {
    list-style-type: none;
  }

  .enzymelisttitle {
    margin-top: 30px;
  }

  .enzymelist {

    li {
      margin: 20px 0px;
      font-style: italic;
    }
  }
}

.parallax {
  background-image: url('../images/ParallaxOne_5.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  color: #fdfafa;

  h2, h3 {
    padding: 30px
  }
  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-style: italic;
  }
}

.brownbar {

  .brownbar-content {
    color: #fdfafa;
    background: #3d1c0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  img {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  p {
    font-size: 1.3em;
    padding: 0px 0px 20px 40px;
  }
}

.brownbar-addon {
  padding: 40px;
  font-size: 1.3em;
}

.footer {
  background: #A41F25;
  padding: 40px;

  h2 {
    color: #FFCD2F;
    margin-bottom: 30px;
  }

  p {
   color: #fdfafa;
  }
}

// Responsive design for larger devices below

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
  .brownbar-content {

    margin-top: 40px;

    img {
      position: absolute;
      left: 50px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    p {
      margin-left: 250px;
      padding: 20px;
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

  body {
    font-size: 1.1rem;
  }

  .headline {
    background-size: cover;
    height: 75vh;

    .taglines {

      .sidetagline {
        font-size: 2em;
      }

      .maintagline {
        font-size: 4em;
      }
    }
  }

  .banner {
    .bannerimg {
      img {
        height: 300px;
        width: 300px;
      }
    }
  }

  .brownbar-content {

    padding: 0px 0px 0px 0px;
    height: 325px;
    width: 325px;

    img {
      height: 400px;
      width: 400px;
    }

    p {
      margin-left: 425px;
      padding-left: 40px;
      
    }
  }

  .brownbar-addon {
    margin-top: 25px;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
