.container-fluid {
  padding: 0;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.headline .taglines .sidetagline, .headline .taglines .maintagline {
  text-transform: uppercase;
}

body {
  font-family: "Open Sans", sans-serif;
}

.headline {
  background-image: url("../images/HeadlineImage_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.headline .taglines {
  margin-top: 10%;
  width: 100%;
}
.headline .taglines .sidetagline, .headline .taglines .maintagline {
  font-weight: 700;
  color: #fdfafa;
  padding: 10px;
  margin-top: 10px;
}
.headline .taglines .sidetagline {
  font-size: 1.4em;
}
.headline .taglines .maintagline {
  font-size: 2.5em;
  color: #A41F25;
  background: #fdfafa;
  opacity: 0.8;
}

.banner {
  background-image: linear-gradient(to right, rgba(196, 154, 108, 0), #c39b7c, rgba(196, 154, 108, 0));
}
.banner .bannerimg {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .bannerimg img {
  height: 150px;
  width: 150px;
}
.banner .bannerimg h2 {
  font-weight: 700;
}

.maininfo {
  padding: 40px;
  font-size: 1.3em;
}
.maininfo ul {
  list-style-type: none;
}
.maininfo .enzymelisttitle {
  margin-top: 30px;
}
.maininfo .enzymelist li {
  margin: 20px 0px;
  font-style: italic;
}

.parallax {
  background-image: url("../images/ParallaxOne_5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  color: #fdfafa;
}
.parallax h2, .parallax h3 {
  padding: 30px;
}
.parallax h2 {
  font-size: 2em;
}
.parallax h3 {
  font-style: italic;
}

.brownbar .brownbar-content {
  color: #fdfafa;
  background: #3d1c0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.brownbar img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.brownbar p {
  font-size: 1.3em;
  padding: 0px 40px 20px 40px;
}

.brownbar-addon {
  padding: 40px;
  font-size: 1.3em;
}

.footer {
  background: #A41F25;
  padding: 40px;
}
.footer h2 {
  color: #FFCD2F;
  margin-bottom: 30px;
}
.footer p {
  color: #fdfafa;
}
.footer .crop {
  display: none;
}

@media (min-width: 768px) {
  .brownbar-content {
    margin-top: 40px;
  }
  .brownbar-content img {
    position: absolute;
    left: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .brownbar-content p {
    margin-left: 250px;
    padding: 20px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 1.1rem;
  }

  .headline {
    background-size: cover;
    height: 75vh;
  }
  .headline .taglines .sidetagline {
    font-size: 2em;
  }
  .headline .taglines .maintagline {
    font-size: 4em;
  }

  .banner .bannerimg img {
    height: 300px;
    width: 300px;
  }

  .parallax {
    height: 425px;
  }
  .parallax h2 {
    font-size: 2.6em;
    margin-right: 350px;
  }

  .brownbar-content {
    padding: 0px 0px 0px 0px;
    height: 325px;
    width: 325px;
  }
  .brownbar-content img {
    height: 400px;
    width: 400px;
  }
  .brownbar-content p {
    margin-left: 425px;
    padding-left: 40px;
  }

  .brownbar-addon {
    margin-top: 25px;
  }

  .footer {
    position: relative;
    background: #A41F25;
  }
  .footer .footertext {
    z-index: 1;
    margin-right: 400px;
  }
  .footer .crop {
    display: block;
    position: absolute;
    max-width: 375px;
    overflow: hidden;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 0;
  }
  .footer .crop img {
    max-width: initial;
    margin-top: -250%;
  }
}

/*# sourceMappingURL=main.css.map */
